<header class="bg-cts-n0 fixed top-0 right-0 left-0 z-50 shadow-md transition-all duration-300">
	<nav class="mx-auto flex h-19 max-w-6xl items-center justify-between px-4 sm:px-6 lg:px-8">
		<a href="#" class="flex items-center transition-opacity hover:opacity-80">
			<img src="/assets/logo/craton-icone-dark.svg" alt="Ícone CRATON" class="h-13 w-auto" />
			<div class="flex flex-col items-center -space-y-2">
				<div class="font-poppins text-cts-n5 text-3xl font-bold">CRATON</div>
				<div class="font-poppins text-cts-n3 text-lg font-bold">SOFTWARE</div>
			</div>
		</a>

		<div class="hidden items-center space-x-6 lg:flex">
			<a href="#" class="text-cts-n4 hover:text-cts-destaque font-medium transition-colors"> Início </a>
			<a href="#servicos" class="text-cts-n4 hover:text-cts-destaque font-medium transition-colors"> Serviços </a>
			<a href="#projetos" class="text-cts-n4 hover:text-cts-destaque font-medium transition-colors"> Projetos </a>
			<a href="#sobre" class="text-cts-n4 hover:text-cts-destaque font-medium transition-colors"> Sobre </a>
			<a href="#contato" class="bg-cts-destaque text-cts-n0 font-poppins rounded-lg px-5 py-2 font-semibold transition duration-300 ease-in-out hover:-translate-y-0.5 hover:shadow-lg"> Contato </a>
		</div>

		<button type="button" aria-label="Abrir menu" class="text-cts-n5 hover:bg-cts-n3 hover:text-cts-n0 flex size-12 cursor-pointer items-center justify-center rounded-md transition-colors lg:hidden" (click)="toggleMenu()">
			<mat-icon class="size-6!" svgIcon="menu" />
		</button>
	</nav>

	@if (isMenuOpen()) {
		<div class="bg-cts-n5 border-cts-n3/20 absolute top-19 left-0 w-full border-t shadow-xl lg:hidden">
			<div class="flex flex-col">
				<a (click)="toggleMenu()" href="#" class="text-cts-n2 hover:text-cts-n0 hover:bg-cts-n4 px-6 py-2 text-lg font-medium transition-colors ease-in-out"> Início </a>
				<a (click)="toggleMenu()" href="#servicos" class="text-cts-n2 hover:text-cts-n0 hover:bg-cts-n4 px-6 py-2 text-lg font-medium transition-colors ease-in-out"> Serviços </a>
				<a (click)="toggleMenu()" href="#projetos" class="text-cts-n2 hover:text-cts-n0 hover:bg-cts-n4 px-6 py-2 text-lg font-medium transition-colors ease-in-out"> Projetos </a>
				<a (click)="toggleMenu()" href="#sobre" class="text-cts-n2 hover:text-cts-n0 hover:bg-cts-n4 px-6 py-2 text-lg font-medium transition-colors ease-in-out"> Sobre </a>
				<a (click)="toggleMenu()" href="#contato" class="text-cts-n2 hover:text-cts-n0 hover:bg-cts-n4 px-6 py-2 text-lg font-medium transition-colors ease-in-out"> Contato </a>
			</div>
		</div>
	}
</header>
